*{
    background-color: rgb(52, 1, 43);
    
}

.head{
    background-color: rgb(228, 112, 5);
    display: flex;
    gap: 20px;
    justify-content: end;
    top: 0%;
    width: 100%;
    margin: 10px;
    height: 80px;
}
.head a{
    background-color: rgb(228, 112, 5);
    color: rgb(45, 0, 123);
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}
.head a :hover{
    cursor: pointer;
    color: goldenrod;
}
.main{
    margin-top: 80px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: brown;
}
.maincontact{
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: green;
}
.contactdetails{
   display: grid;
   grid-template-columns: 30% 70%;
}
.contactimage img{
    width: 300px;
    height: 500px;
    border-radius: 50%;
    margin-left: 20%;
}
.mydetails{
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    margin: 20px;
    font-style: italic; 
    animation: move 2s ease-in-out infinite alternate;
}
@keyframes move{
    
        0%{
            transform: translateX(0);color: rgb(105, 255, 117);}
        25%{
            transform: translateX(15%); color: red;}
        50%{
            transform: translateX(25%); color: yellow;}
            75%{
            transform: translateX(15%); color: blue;}      
        100%{
            transform: translateX(0); color: rgb(14, 227, 238);}
    
} 