*{
    
 }
 body{
    background: linear-gradient(300deg,
    #2b001b, 
        #4b0055, 
        #81032d, 
        #2e0168,    
        #037562);
    background-size: 1000% 1000%;
    animation: bgRotat 15s ease infinite;  
 }
@keyframes bgRotat{
    0%{background-position:0% 50%;}
    10%{background-position:50% 50%;}
    20%{background-position:100% 50%;}
    30%{background-position:50% 50%;}
    40%{background-position:0% 50%;}    
    50%{background-position:50% 50%;}
    60%{background-position:100% 50%;}
    70%{background-position:50% 50%;}
    80%{background-position:0% 50%;}
    90%{background-position:50% 50%;}
    100%{background-position:0% 50%;}  
}

.head{
    background: linear-gradient(
        90deg,
        #ed5959,
        #f4d34f,
        #00ffcc,
        #6098eb,
        #e864e8
    );

    background-size: 500% 100%;
    animation: headerFlow 6s linear infinite;
    display: flex;
    gap: 20px;
    justify-content: end;
    top: 0%;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
    height: 80px;

}
@keyframes headerFlow{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}  
}
.head a{
     background: linear-gradient(
        90deg,
        #ed5959,
        #f4d34f,
        #00ffcc,
        #6098eb,
        #e864e8
    );

    background-size: 500% 100%;
    animation: headerFlow 6s linear infinite;
    color: rgb(45, 0, 123);
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}
.head a :hover{
    cursor: pointer;
    color: goldenrod;
}
.main{
    margin-top: 80px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: rgb(196, 196, 212);
    animation: Updown 3s ease-in-out infinite alternate;
}
@keyframes Updown{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}

.maincontact{
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: green;
   animation: Updown 3s ease-in-out infinite alternate;
}
.contactdetails{
   display: grid;
   grid-template-columns: 30% 70%;
}
.contactimage img{
    width: 300px;
    height: 500px;
    border-radius: 50%;
    margin-left: 20%;
    animation: zoominout 10s ease-in-out infinite alternate;
}
@keyframes zoominout{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    } 
}  
.mydetails{
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    font-style: italic; 
    
}
@keyframes move{
    
        0%{
            transform: translateX(0);color: rgb(16, 58, 19);}
        25%{
            transform: translateX(15%); color: rgb(128, 34, 29);}
        50%{
            transform: translateX(25%); color: rgb(119, 29, 98);}
            75%{
            transform: translateX(15%); color: rgb(25, 25, 83);}      
        100%{
            transform: translateX(0); color: rgb(16, 58, 19);}
    
} 
.myname{
    justify-self: center;
   align-self: center; 
    background: none;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
    width: fit-content;
    animation: move 2s ease-in-out infinite alternate;
}

.myname h2{
    background: yellow;
    padding: 12px 30px;
    border-radius: 8px;
    display: inline-block;
    background: linear-gradient(
        90deg,
        #85a8dc,
        #e3ca64,
        #d67676,
        #d23cd2,
        #5ddbc2
    );

    background-size: 500% 100%;
    animation: headerFlow 6s linear infinite;
}
